<a href="https://colab.research.google.com/github/uzair011/Advance-python/blob/main/theIndex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Every Series or DataFrame has an index. it isn't just the row labels for data. 

=>> In practice, the index and column names are used to make sure the data is properly aligned when operating on multiple DataFrames.

In [2]:
url = "https://datascience.quantecon.org/assets/data/wdi_data.csv"
df = pd.read_csv(url)
df.info()
print("======= --- =======")
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      72 non-null     object
 1   year         72 non-null     int64
 2   GovExpend    72 non-null     float64
 3   Consumption  72 non-null     float64
 4   Exports      72 non-null     float64
 5   Imports      72 non-null     float64
 6   GDP          72 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.1+ KB
======= --- =======

          country  year  GovExpend  Consumption   Exports   Imports        GDP
0          Canada  2017   0.372665     1.095475  0.582831  0.600031   1.868164
1          Canada  2016   0.364899     1.058426  0.576394  0.575775   1.814016
2          Canada  2015   0.358303     1.035208  0.568859  0.575793   1.794270
3          Canada  2014   0.353485     1.011988  0.550323  0.572344   1.782252
4          Canada  2013   0.351541     0.986400  0.518040  0.558636   1.732714
..            ...   ...        ...          ...       ...       ...        ...
67  United States  2004   2.267999     9.311431  1.335978  2.108585  13.846058
68  United States  2003   2.233519     8.974708  1.218199  1.892825  13.339312
69  United States  2002   2.193188     8.698306  1.192180  1.804105  12.968263
70  United States  2001   2.112038     8.480461  1.213253  1.740797  12.746262
71  United States  2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 7 columns]

In [3]:
df_small = df.head(6)
df_small

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714
5  Canada  2012   0.354342     0.961226  0.505969  0.547756  1.693428

In [4]:
df_selected = df.iloc[[0, 1, 3, 71], :]
df_selected

          country  year  GovExpend  Consumption   Exports   Imports        GDP
0          Canada  2017   0.372665     1.095475  0.582831  0.600031   1.868164
1          Canada  2016   0.364899     1.058426  0.576394  0.575775   1.814016
3          Canada  2014   0.353485     1.011988  0.550323  0.572344   1.782252
71  United States  2000   2.040500     8.272097  1.287739  1.790995  12.620268

In [5]:
imp_exp = df_selected[["Exports", "Imports"]]
imp_exp_copy = imp_exp.copy()
imp_exp_copy

     Exports   Imports
0   0.582831  0.600031
1   0.576394  0.575775
3   0.550323  0.572344
71  1.287739  1.790995

In [6]:
imp_exp + imp_exp_copy

     Exports   Imports
0   1.165661  1.200063
1   1.152787  1.151550
3   1.100646  1.144688
71  2.575478  3.581991

In [7]:
df_selected

          country  year  GovExpend  Consumption   Exports   Imports        GDP
0          Canada  2017   0.372665     1.095475  0.582831  0.600031   1.868164
1          Canada  2016   0.364899     1.058426  0.576394  0.575775   1.814016
3          Canada  2014   0.353485     1.011988  0.550323  0.572344   1.782252
71  United States  2000   2.040500     8.272097  1.287739  1.790995  12.620268

In [8]:
selected_impExp = df_selected + imp_exp
selected_impExp

    Consumption   Exports  GDP  GovExpend   Imports  country  year
0           NaN  1.165661  NaN        NaN  1.200063      NaN   NaN
1           NaN  1.152787  NaN        NaN  1.151550      NaN   NaN
3           NaN  1.100646  NaN        NaN  1.144688      NaN   NaN
71          NaN  2.575478  NaN        NaN  3.581991      NaN   NaN

** Automatic Alignment. **

=> df_selected.loc[row, col] + imp_exp.loc[row, col]

**Handling Missing Data**

Example, for all elements in row 1 OR columns ["country", "year", "GovExpend", "Consumption", "GDP"], the value in selected_impExp is NaN

This is the way Pandas represents missing data. 

So, when pandas trying to look up the values in the table and could only find one vlaue in the dataFrame and other one was missing, 
then it says that the result is missing (NaN)

**SETTING THE INDEX**

In [9]:
# CREATE the dataframe
df_year = df.set_index(["year"])
df_year.head()

     country  GovExpend  Consumption   Exports   Imports       GDP
year
2017  Canada   0.372665     1.095475  0.582831  0.600031  1.868164
2016  Canada   0.364899     1.058426  0.576394  0.575775  1.814016
2015  Canada   0.358303     1.035208  0.568859  0.575793  1.794270
2014  Canada   0.353485     1.011988  0.550323  0.572344  1.782252
2013  Canada   0.351541     0.986400  0.518040  0.558636  1.732714

In [10]:
# Extract all data for a specific year...
df_year.loc[2015]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2015          Canada   0.358303     1.035208  0.568859  0.575793   1.794270
2015         Germany   0.706115     2.033666  1.803081  1.527074   3.718482
2015  United Kingdom   0.546480     1.718629  0.808384  0.872773   2.719579
2015   United States   2.373130    11.409800  2.222228  2.881337  16.710459

In [11]:
# Example, if we wanted to find the difference in the average of all the variables from a year to another year.
df_year.loc[2010].mean(numeric_only=True) - df_year.loc[2009].mean(numeric_only=True)

GovExpend      0.005048
Consumption    0.056380
Exports        0.112327
Imports        0.133674
GDP            0.149556
dtype: float64

In [12]:
# Whats the Imports in Germany in 2012?
xyz = df_year.loc[df_year["country"] == "Germany", "Imports"].loc[2012]
print("Germany imports in 2012 is : ", xyz)

Germany imports in 2012 is :  1.3541216947488

In [13]:
# Whats the GDP in the USA and the UK in 2010?
abc = df_year.loc[df_year["country"].isin(["United States", "United Kingdom"]), "GDP"].loc[2010]
print("GDP in usa and uk in 2010 is : ")
abc

GDP in usa and uk in 2010 is :

year
2010     2.452900
2010    14.992053
Name: GDP, dtype: float64

In [14]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

**SETTING A HIERARCHICAL INDEX**

Includes multiple columns in the index is advantageous in some situations...

Example, 
1. When we need more than one piece of information(column) to identify an abservation.
2. When we need data-alignment by more than one column.

To achieve multiple columns in the index, we pass a list of multiple column names to    `set_index`

In [19]:
wdi = df.set_index(["country", "year"])
wdi.head(22)

              GovExpend  Consumption   Exports   Imports       GDP
country year
Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
        2016   0.364899     1.058426  0.576394  0.575775  1.814016
        2015   0.358303     1.035208  0.568859  0.575793  1.794270
        2014   0.353485     1.011988  0.550323  0.572344  1.782252
        2013   0.351541     0.986400  0.518040  0.558636  1.732714
        2012   0.354342     0.961226  0.505969  0.547756  1.693428
        2011   0.351887     0.943145  0.492349  0.528227  1.664240
        2010   0.347332     0.921952  0.469949  0.500341  1.613543
        2009   0.339686     0.890078  0.440692  0.439796  1.565291
        2008   0.330766     0.889602  0.506350  0.502281  1.612862
        2007   0.318777     0.864012  0.530453  0.498002  1.596876
        2006   0.311382     0.827643  0.524461  0.470931  1.564608
        2005   0.303043     0.794390  0.519950  0.447222  1.524608
        2004   0.299854     0.764357  0.508657  0.416754  1.477317
        2003   0.294335     0.741796  0.481993  0.384199  1.433089
        2002   0.286094     0.721974  0.490465  0.368615  1.407725
        2001   0.279767     0.694230  0.484696  0.362023  1.366590
        2000   0.270553     0.677713  0.499526  0.380823  1.342805
Germany 2017   0.745579     2.112009  1.930563  1.666348  3.883870
        2016   0.734014     2.075615  1.844949  1.589495  3.801859
        2015   0.706115     2.033666  1.803081  1.527074  3.718482
        2014   0.685990     1.999953  1.712270  1.445409  3.654924

# The row lables have 2 rows.
1. outer (left-most) row = country
2. inner (right-most) row = year 

* When a DataFrame's index has multiple levels, we refer to the dataFrame as having hierarchical index.

**SLICING A HIERARCHICAL INDEX**

In [25]:
# Answering the previous questions in different way

# Whats the Imports in Germany in 2012?
xyz = wdi.loc[("Germany", 2012), "Imports"]
#xyz = df_year.loc[df_year["country"] == "Germany", "Imports"].loc[2012]
print("Germany imports in 2012 is : ", xyz)

print("")

# Whats the GDP in the USA and the UK in 2010?
abc = wdi.loc[(["United States", "United Kingdnom"], 2010), "GDP"]
#abc = df_year.loc[df_year["country"].isin(["United States", "United Kingdom"]), "GDP"].loc[2010]
print("GDP in usa and uk in 2010 is : \n")
abc

Germany imports in 2012 is :  1.3541216947488

GDP in usa and uk in 2010 is :

country         year
United States   2010    14.992053
United Kingdom  2010     2.452900
Name: GDP, dtype: float64